{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <button class="btn btn-primary">{{ button_label|default('Créer le locataire') }}</button>
        <a href="{{ path('lodger_index') }}" class="btn btn-primary">Retour à la Liste des locataires</a>
    </div>
{{ form_end(form) }}
