{% extends 'base.html.twig' %}

{% block title %}Lodger
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center">Locataire :
			{{lodger.firstname}}
			{{lodger.name}}</h1>

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Prénom</th>
					<th scope="col">Nom</th>
					<th scope="col">Téléphone</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">{{ lodger.id }}</th>
					<td>{{ lodger.firstname }}</td>
                    <td>{{ lodger.name }}</td>
                    <td>{{ lodger.phone }}</td>
				</tr>
			</tbody>
		</table>
        <div class="text-center">
		    <a href="{{ path('lodger_edit', {'id': lodger.id}) }}" class="btn btn-primary">Modifier les informations du locataire</a>
		    <a href="{{ path('lodger_index') }}" class="btn btn-primary">Retour à la Liste des locataires</a>
        </div>


	</div>
{% endblock %}
