<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('build/app.css') }}">
		{% endblock %}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
				<a class="navbar-brand" href="{{path('homepage')}}"><img src="{{asset('images/logo.png')}}" alt="" style="height:60px;width:130px"> <img src="{{asset('images/cavanna.png')}}" alt="" style="height:60px;width:270px"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						{# <li class="nav-item active">
							<a class="nav-link" href="{{path('homepage')}}">Accueil
								<span class="sr-only">(current)</span>
							</a>
						</li> #}
					</ul>
					{% if app.user %}
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">
							<a href="#" class="nav-link py-0 dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
								{{app.user}}
							</a>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu--animate" aria-labelledby="accountDropdownLink">									
									<a href="{{path('lodger_new')}}" class="dropdown-item">Créer un locataire</a>
									<a href="{{path('housing_new')}}" class="dropdown-item">Créer un logement</a>
									<a href="{{path('building_new')}}" class="dropdown-item">Créer un immeuble</a>
									<div class="dropdown-divider"></div>
									<a href="{{path('lodger_index')}}" class="dropdown-item">Voir les locataires</a>
									<a href="{{path('building_index')}}" class="dropdown-item">Voir les immeubles</a>
									<a href="{{path('housing_index')}}" class="dropdown-item">Voir les logements</a>
									<div class="dropdown-divider"></div>
								<a href="{{ path('app_logout')}}" class="dropdown-item">Déconnexion</a>
							</div>
						</li>
					{% endif %}
					</ul>
				</div>
			</nav>
		</header>
		<div class="row">
		<div class="col-2">
		<nav class="nav flex-column">
			<li class="nav-item mb-2">
				<a class="nav-link text-dark" href="{{path('building_index')}}">
					<i class="fa fa-home"></i>
					Gestion Immeubles</a>
			</li>
            <li class="nav-item mb-2">
				<a class="nav-link active text-dark" href="{{path('housing_index')}}">
					<i class="fa fa-home"></i>
					Gestion Logements</a>
			</li>
			<li class="nav-item mb-2">
				<a class="nav-link active text-dark" href="{{path('lodger_index')}}">
					<i class="fa fa-user"></i>
					Gestion Locataires</a>
			</li>
			<li class="nav-item mb-2">
				<a class="nav-link active text-dark" href="{{path('lodger_index')}}">
					<i class="fa fa-calculator"></i>
					Calcules</a>
			</li>
			<li class="nav-item mb-2">
				<a class="nav-link active text-dark" href="{{path('lodger_index')}}">
					<i class="fas fa-euro-sign"></i>
					Revenues</a>
			</li>
		</nav>
		</div>
			{% block body %}{% endblock %}
	</div>
			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}		
	</body>
</html>
